html{
    font-family: 'Montserrat', sans-serif;
    height: auto;
}
body
{
    height: auto;
    margin-right: 15px;
}
main
{
    display: inline-block;
    height: auto;
}
header
{
    display: inline-block;
    text-align: left;
    color: rgb(236, 236, 226);
    background-color: #4d4d50;
    border: solid 3px #ffffff64;
    padding-right: 15px;
    padding-top: 15px;
    overflow-y: auto;
    width: 100%;
    margin-right: 15px;
}
header img
{
    float: left;
    align-content: center;
    padding-top:5px ;
    padding-bottom: 10px;
}
header section
{
    float: right;
    width: 40%;
    margin:2rem auto;
}
header section h1
{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 300;
    
}
header section h3
{
    color: rgb(208, 148, 148);
    margin-top: 1px;
    font-size: 28px;
}
a
{
    color: rgb(23, 22, 22);
    text-decoration:none;
    transition: color 0.3s ease;
}
.contacto ul li
{
    margin-bottom: 5px;
}
a:hover
{
    color: rgb(186, 129, 129);
}

.lado_derecho
{
    float:right; 
    width:68%;
    height: auto;
    word-wrap: break-word;
}
.lado_derecho h2
{
    font-size: 35px;
    font-weight:bolder;
    color: #202020;
    margin: 10px 0;
}
.lado_derecho article
{
    padding: 20px 0;
    word-wrap: break-word;
}
p
{
    font-size: 20.5px;
    margin: 20px 0;
}
.lado_izquierdo
{
    float:left; 
    width: 23.5%;
    height:auto;
    background-color: rgb(242, 231, 231);
    text-align: left;
    padding: 0 15px;
    word-wrap: break-word;
}
.lado_izquierdo h4
{
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
}
ul
{
    list-style: none;
    padding-left: 5px;
}
.lado_izquierdo article
{
    padding: 5px 3px;
    margin: 50px 0;
}
.lado_izquierdo img
{
    width: 25px;
    height: 25px;
}

.lado_derecho article ul
{
    font-weight: normal;
}
.lado_derecho article li
{
    margin: 35px 0;
}
h3
{
    margin:0;
    font-weight:bold;
}
.lado_derecho h4
{
    margin: 0;
    color: rgb(186, 129, 129);
}
h5
{
    margin: 0;
}

section div
{
    display: inline-block;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 3px 0;
}
.habilidades_sociales div
{
    background-color: rgb(215, 176, 176);
    /* border-color: rgb(236, 215, 215); */
    color:#767678;
    word-break: break-all;
}
.habilidades_tecnicas div
{
    background-color: #7d7d80;
    /* border-color:rgb(215, 176, 176); */
    color:rgb(240, 208, 208);
}

.lado_izquierdo div
{
    font-weight: bold;
    font-size: 20px;
    border: 2px solid;
    transition: box-shadow 0.3s ease;
    word-wrap: break-word;
    cursor: pointer;
}
.lado_izquierdo div:hover
{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.5);
}
b
{
    transition: color 0.3s ease;
    cursor: pointer;
}
b:hover
{
    color: #767678;
}
footer
{
    transition: color 0.3s ease;
    cursor:pointer;
    background-color: #4d4d50;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}
footer a
{
    color: #ffffff64;
}
footer a:hover
{
    color: rgb(186, 129, 129);
}
.lado_izquierdo hr
{
    margin: 40px 0;
}
hr
{
    margin: 20px 0;
}
#educacion_complementaria li
{
    margin: 10px 0;
}
#educacion-complementaria
{
    margin: 15px 0;
}
