html{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}
body
{
    height: auto;
    margin-right: 15px;
}
main
{
    display: inline-block;
    height: 100%;
    width: 100%;
}
header
{
    display: inline-block;
    text-align: left;
    color: rgb(236, 236, 226);
    background-color: #4d4d50;
    border: solid 3px #ffffff64;
    padding-right: 15px;
    padding-top: 15px;
    overflow-y: auto;
    width: 100%;
    margin-right: 15px;
}
header img
{
    float: left;
    align-content: center;
    padding-top:5px ;
    padding-bottom: 10px;
}
header section
{
    float: right;
    width: 40%;
    margin:2rem auto;
}
header section h1
{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 300;
    
}
header section h3
{
    color: rgb(208, 148, 148);
    margin-top: 1px;
    font-size: 28px;
}
a
{
    color: rgb(23, 22, 22);
    text-decoration:none;
}
.general
{
    float:right; 
    width: 73%;
    height: 100%;
    word-wrap: break-word;
}
.general h2
{
    font-size: 35px;
    font-weight:bolder;
    color: #202020;
    margin: 15px 0;
}
.general article
{
    padding-top: 10px;
}
p
{
    font-size: 20.5px;
    margin: 15px 0;
}
.bar
{
    float:left; 
    width: 23.5%;
    height:48rem;
    background-color: rgb(242, 231, 231);
    text-align: left;
    padding: 30px 15px;
    word-wrap: break-word;
    background-size: auto;
}
.bar h4
{
    text-align: center;
    font-weight: 600;
}
ul
{
    list-style: none;
    padding-left: 5px;
}
.bar article
{
    padding: 5px 3px;
}
.bar img
{
    width: 25px;
    height: 25px;
    color: #4d4d50;
}
.bar ul li
{
    margin-bottom: 5px;
}
.general article ul
{
    font-weight: normal;
}
.general article li
{
    margin: 20px 0;
}
h3
{
    margin:0;
    font-weight:bold;
}
div span
{
    border-radius: 5px;
    padding: 7px 13px;
}
.tecnologias span
{
    background-color: #7d7d80;
    border-color: #202020;
    color: rgb(236, 236, 226);
}
.habilidades span
{
    background-color: rgb(215, 176, 176);
    border-color: rgb(236, 215, 215);
    color:#4d4d50;
    margin: 25px 2px;
}
.general h4
{
    margin-top: 0;
    margin-bottom: 15px;
    color: rgb(186, 129, 129);
}
h5
{
    margin: 0;
}
div
{
    margin: 20px 3px;
}
